[2016-05-18 12:18] nilleb opened #4 "unfortunately, the link under "Pull Request #" doesn't work"
In our TFS on premises instance, clicking on the link "Pull Request 123" opens a new tab.
But the opened tab doesn't show up correctly. It is almost empty. Moreover, it can't be used to navigate elsewhere.

When opening the chrome developer tools, I see two messages like:

[code]

f I copy the link to the clipboard and paste it in a new, fresh, tab, wverything works fine..

[2016-05-20 08:06] rubenmamo opened #5 "Extension does not work"
I installed the extension on our On Premise TFS server, however when I click "All Pull Requests" I get a **Active Pull Requests by Mimeo failed to load.** error

I have installed version 0.2.4 of the extension. Is there any logs I can look for to try to identify the problem?

TFS Installed on Windows Server 2012 R2
Client is Windows 8 with Internet Explorer 11 browser.

I get the following in the

[2016-05-30 15:37] sumo300 opened #6 "401 Unauthorized error when using on-premise"
When this tries to access the TFS Git API, it gets a 401 unauthorized error.  I think there is an issue with the defined scopes for this extension.

https://freerangeeggs.net/2016/02/11/tfs-webapi-exception-401-in-visual-studio-team-services-extension/

[2016-05-30 16:35] sumo300 commented on #6
Note that you may now need to define scopes for your extension to access parts of the API.

https://freerangeeggs.net/2016/02/11/tfs-webapi-exception-401-in-visual-studio-team-services-extension/

[2016-05-31 14:45] nshenoy commented on #6
Thanks for the tip @sumo300! I'll try to update as soon as I can. Unless you wanted to submit a PR?

[2016-05-31 14:54] nshenoy commented on #5
Thanks for alerting me to the issue @rubenmamo . This is happening because IE11 doesn't support ES6 lambdas. Let me try to rework this a little to be backwards compatible.

[2016-10-19 11:17] AmyAmy opened #7 "Dashboard tile"
Would be nice to have a (1×1) tile on the dashboard, which shows the number of pull requests. Clicking the tile could navigate to the All Active Pull Requests page.

[2016-10-19 11:29] nshenoy commented on #7
Thanks for using the extension! Having a tile is an excellent suggestion. I'll look into it.

[2016-11-07 13:46] nshenoy commented on #4
Let's track this #6 now.

[2016-11-07 13:46] #4 closed

[2016-11-07 13:49] nshenoy commented on #6
@sumo300 @nilleb I just updated the extension to v0.2.5. I don't have a TFS onprem box to test this on. Any chance you could install this and see if it works now?

[2016-11-07 15:25] nshenoy opened #8 "IE11 Script Error: `Object doesn't support property or method 'find'` @ hub.html(66,45)"
IE11 doesn't appear to support the JavaScript Array find() method. It's currently failing here:

`var activePullRequest = activePullRequests.`**find**`(function(element, index, array) `

[2016-11-07 15:27] nshenoy commented on #5
This specific lambda issue appears to be fixed now in v 0.2.5. However, IE11 will now run into issue #8 where it's crapping out on not supporting the Array.find() method. I'll close this issue and we can track the new IE11 issue in #8. Please reopen this issue if you're still hitting it with the new version of the extension.

[2016-11-07 15:27] #5 closed

[2016-11-07 15:54] nshenoy commented on #8
This issue is fixed.

[2016-11-07 15:54] #8 closed

[2016-11-10 09:44] rubenmamo opened #10 "Extension does not work with OnPremise TFS"
Using version 0.2.6

When I open the extension on both IE and Chrome I do not get any pull requests even though I have active pull requests. I see the following error in the console window.
[code]

[2016-12-02 20:43] sumo300 commented on #6
I just tested 0.2.6 and still get the following error:

[code]

[2017-03-17 16:23] popbee opened #11 "Feature Request: "Created By" column"
We often identify pull requests by the person that created it.

How easy would it be to add a "Created by" column?

[2017-03-17 22:51] nshenoy commented on #11
Actually, this shouldn't be that difficult. According to the [docs](https://www.visualstudio.com/en-us/docs/integrate/api/git/pull-requests/pull-requests#get-a-list-of-pull-requests-in-the-repository), the response object has a `createdBy` property that has the display name and I guess the account alias. Would it be preferable to display that as something like `Nithin Shenoy <nshenoy@something.com

[2017-03-17 22:51] nshenoy commented on #11
And thanks for installing the extension and providing feedback! Much appreciated.

[2017-03-18 02:54] popbee commented on #11
Good question, the minimal is the user name (displayName).  But probably the best would be similar to what is seen elsewhere in the product (with the user icon avatar and a tooltip containing the uniqueName at minimum).  (the email is the uniqueName which sometimes shows as "[domain]\name" instead of an email).

[avatar] Leonard Nimoy
with tooltip: "lnimoy@ncc-1701.us"

Looking at the VSTS, the si

[2017-03-20 16:36] 123dev opened #12 "Feature Request: View pull requests across all projects."
This is a very nice plugin.
Thanks for sharing.

Any chance it could be extended to show ActivePullRequests not only on all Repos, but also across all projects and their respective repos?

Otherwise a developer working on multiple projects would still need to go through each project to see the PRs.

Thanks

[2017-03-21 03:47] #11 closed

[2017-03-21 03:51] nshenoy commented on #11
@popbee Check out the latest changes to the extension and let me know if this works for you. This is an initial implementation that wasn't able to use your snippet, unfortunately as the UI was extremely wonky. The docs mention that Grids don't allow for variable height rows yet, so I may have to play around do doing some custom UI shenanigans in the future to see if this can be achieved.

Feel fre

[2017-03-21 06:09] popbee commented on #11
Hey! just tried it and it works nicely!

Missing would be the "title" (for the tooltip) with the uniqueName. If you cannot put it on the grid cell "div", you can put it on the "span" I believe. Also I see the "font" of the name is not the same as the rest of the line. Other than that, it's amazing.

Do you really need variable height rows? Why not fixed?

If I want to play with the code (to eventu

[2017-03-23 03:38] nshenoy commented on #11
I tried to make the font for the uniqueName a little smaller, but you're right in that it looks funny. I can fix that. And good idea with the tooltip!

I think I used "variable height" incorrectly in my original comment. What I meant to say was that I'm not sure how to adjust the height of a grid row; there's only properties for sizing the column width in the grid UI control and nothing for a row'

[2017-03-23 12:26] popbee commented on #12
In other words, is there a way to have the plugin install a new "menu item" on the "root" welcome page? (there is already a "Pull Request" menu in there (which is near useless really); your extension would add "All Active Pull Requests" and have the same grid but with an additional "Team Project" column (one large grid so we could sort it).

(again if I find a way to *test* extensions I could help

[2017-08-15 02:51] salbahra opened #14 "Hiding title bar when clicking PR from list"
The first time a pull request link is clicked from the list, the title bar is hidden and no action occurs. The issue exists when a long list of pull requests are pending (larger than the viewable screen area). I have been able to reproduce this issue on devices with small screens or using a smaller desktop browser window.

The issue seems to be a CSS one where the body of the `iframe` generated by

[2017-12-08 21:21] iamthegD commented on #6
Hi,

we have the same issue. cool plugin though

[2018-04-17 16:52] GuacoIV opened #15 "Sorting for "Created By" Column Does Nothing"
When I click the "Created By" column header on the All Active Pull Requests page, the order of the entries does not change.

[2018-07-13 02:16] nshenoy commented on #14
Excellent! Thanks for fixing this. Much appreciated.

[2018-07-13 02:16] #14 closed

[2018-07-16 16:03] g6andrew opened #18 "Page only showing 3 pull requests"
Since the most recent update, the page is only showing 3 PR's, although there are more.

[2018-07-16 23:37] Abe-Froman commented on #18
We are seeing the same, only noticed for the first time today.

Refreshing the page will display a different set of 3 PRs.

[2018-07-17 00:14] Abe-Froman commented on #18
After debugging a bit, I suspect this is caused by a breaking change from VSTS. At the point all pull requests are added to the grid, `grid.setDataSource(activePullRequests);`, our activePullRequests object has all PRs in it we'd expect. You can test this yourself by sorting on one of the columns and see that the displayed PRs change.

I'll see if I can raise awareness of this to the VSTS team.

[2018-07-17 09:20] mvishwakarma93 opened #19 "Pull request created under same repository does not get reflected in "All Active Pull Requests""
We have below issue :
1. I have created few PRs for a repository, previously I was able to see all my and teams PR as well under "All Active Pull Requests", but now the list shows all PR`s excluding my PR.
2. Also I need to visit every repositories "Pull Requests" tabs to see the PRs created by me against the specific repository. It never shows me under "All Active Pull Requests".
3. The count for

[2018-07-17 16:30] g6andrew commented on #18
Would setting the grid height to 100% instead of 0px help?

From: Abe-Froman <notifications@github.com>
Sent: Monday, July 16, 2018 7:15 PM
To: Mimeo/VSTSExtension-ActivePullRequests <VSTSExtension-ActivePullRequests@noreply.github.com>
Cc: STEPHENS, Andrew A - G6 HOSPITALITY <Stephens_Andrew@g6hospitality.com>; Author <author@noreply.github.com>
Subject: Re: [Mimeo/VSTSExtension-ActivePullRequest

[2018-07-17 16:39] Abe-Froman commented on #18
No, I don't think so. The `grid-canvas` in the DOM only holds 3 `grid-row` elements so it's not a matter of them being present but not displayed.

[2018-07-18 13:10] nshenoy commented on #18
Thanks for reporting this issue. We're looking into it and will get back to you soon. I'll rollback the extension to the previous version in a little bit so we can view all PRs again. But it will reintroduce that title bar disappearing bug unfortunately. :(

[2018-07-18 13:11] nshenoy commented on #19
This is a dupe of #18. We'll track the issue there. Thanks!!

[2018-07-18 13:11] #19 closed

[2018-07-18 13:16] nshenoy commented on #18
The extension has been rolled back to an older version. We'll keep this issue posted when we fix the bug. Thanks!

[2018-08-03 13:43] nshenoy commented on #18
Just an update. @sand-head is working on a fix that we are currently testing out. The extension fixes the previous issues (and looks a bit nicer, too!). Stay tuned for an updated version in the marketplace. Thank you all for your patience!

[2018-08-03 13:45] nshenoy commented on #15
There is a fix pending for this issue. We'll be posting an update to the marketplace pretty soon. Thanks for your patience!

[2018-08-03 13:48] nshenoy commented on #7
This is a good suggestion, but unfortunately I won't have time to look into this. If anyone wants to figure this out and open a PR, go for it. I'm closing this for now.

[2018-08-03 13:48] #7 closed

[2018-08-03 16:38] GuacoIV commented on #15
Thanks for the update!

[2018-08-03 17:20] nshenoy commented on #18
This has been fixed! The extension has been published under a new Mimeo publisher, with the previous one marked as "deprecated." Please uninstall the old extension and install the new one from here: https://marketplace.visualstudio.com/items?itemName=mimeo-vs-marketplace.mimeo-active-pull-requests . Thanks!

[2018-08-03 17:20] #18 closed

[2018-08-03 17:20] nshenoy commented on #15
This has been fixed! The extension has been published under a new Mimeo publisher, with the previous one marked as "deprecated." Please uninstall the old extension and install the new one from here: https://marketplace.visualstudio.com/items?itemName=mimeo-vs-marketplace.mimeo-active-pull-requests . Thanks!

[2018-08-03 17:20] #15 closed

[2018-08-03 17:21] nshenoy commented on #10
@rubenmamo I know it's been a long time, but if you're still using TFS on-premises, could you give the latest extension a shot? Please uninstall the old extension and install the new one from here: https://marketplace.visualstudio.com/items?itemName=mimeo-vs-marketplace.mimeo-active-pull-requests . Thanks!

[2018-08-03 17:22] nshenoy commented on #6
@iamthegD @sumo300 I know it's been a while, but if you're still using TFS on-premises, could you give the latest a shot? Please uninstall the old extension and install the new one from here: https://marketplace.visualstudio.com/items?itemName=mimeo-vs-marketplace.mimeo-active-pull-requests . Note that this is under a different publisher name, thus you'll need to uninstall the old one. Update the

[2018-08-03 17:53] GuacoIV opened #21 "No Scroll Bar"
We currently have 78 pull requests open, which does not fit in the page without a scroll bar.  There is no scrollbar available, so our only option to see the others is to zoom out or use the dev console to add the "overflow: scroll" styling.

[2018-08-03 18:08] sand-head commented on #21
was able to reproduce, this is another instance of Microsoft's VSS SDK applying strange, unnecessary styling to the extension. in this case, it's preapplying `overflow: hidden` to the `body` tag. I'll submit a PR overwriting that with `overflow: auto` soon

[2018-08-06 17:34] #21 closed

[2018-08-06 17:54] nshenoy commented on #21
@GuacoIV version 1.0.2 was just published. Could you see if the extension shows all of your PRs? Thanks!

[2018-08-06 18:09] GuacoIV commented on #21
@nshenoy Can see them all now - confirmed.  Thanks!

[2018-08-13 07:37] wertzui opened #23 "Feature Request: Display changes since I last visited a PR"
Just as in the "normal" PR-List, it would be good if you can see what changes have been made to a PR since you last visited that PR.
In addition a time stamp with the last change date would be good too.

[2018-08-22 02:01] Abe-Froman opened #24 "Table shows "Loading..." when there are zero PRs and loading is complete"
When there are no active pull requests across all repos and loading is complete, "Loading..." is still shown in the table.

[2018-08-22 02:03] Abe-Froman commented on #24
Actually this is a pretty easy fix so I think I'll take a crack at my first GitHub PR and address this myself if that's alright.

[2018-09-14 01:04] nshenoy commented on #24
I took the changes and published the new extension. However I still see `Loading...` for projects with 0 PRs. @Abe-Froman would you like to take another look?

[2018-09-20 11:22] GitWessel opened #26 "Loading error"
Sinds a week or two the page keeps saying: loading...
My team members do not have any problems at this moment.

Is this a common issue?

[2018-10-17 13:38] langdonx opened #27 "Add base and target branches in table"
Would you consider adding "Base" and "Target" columns to the table and display the branch names there?  There's a lot of room on the screen for additional columns, at least on a desktop in 1920x, which I imagine is a fairly common size.

![image](https://user-images.githubusercontent.com/441982/47089973-eb4ed080-d1ef-11e8-9021-45013cae41ff.png)

Quite often I find myself using this list primarily

[2018-10-17 18:16] langdonx commented on #27
I can give it a shot -- the code change seems like it might be trivial

I have no idea how to go about testing it though.  I imagine I need to create a publisher account on the Marketplace to test it?  Doesn't seem like I can load my own extension for testing.

Snooping through the source, it looks like I just need to expose  `pr.targetRefName` and `pr.sourceRefName` in `vss-pull-requests.service.

[2018-10-17 19:00] langdonx commented on #27
I made the changes, but damned if I can't get the line endings to commit correctly.  Are they committed consistently as CRLF?  LF?

https://github.com/Mimeo/VSTSExtension-ActivePullRequests/commit/88fa2b4353ecc92ae32f1fb09619f031022b5464

[2018-11-27 19:19] joelbourbon opened #30 "Feature Request: Draft pull request"
There is a new feature in VSTS where you can flag a Pull Request as Draft. It is the same as marking a Pull Request title with WIP at the beginning but with this, it actually blocks the pull request in being merged.

Would it be possible to add a little icon or color to identify which PRs are in draft mode?

[2018-11-27 19:21] joelbourbon opened #31 "Feature Request: Support for themes"
VSTS added new color themes on the website. Having the bright white background in the plugin tab is clashing with the rest of the UI.

Is it possible to apply part of the selected color theme?

[2018-12-17 19:21] sand-head commented on #31
added support for themes in #33!

[2019-01-10 14:30] nshenoy commented on #6
Closing due to inactivity. If this is still an issue with on-premises TFS, feel free to reopen.

[2019-01-10 14:30] #6 closed

[2019-01-10 14:31] joelbourbon commented on #30
@nshenoy Is this something you would consider doing? If not, do you think it would be a low hanging fruit for me to try and pull request?

[2019-01-10 14:31] nshenoy commented on #10
Closing due to inactivity. If this is still an issue with on-premises TFS feel free to reopen.

[2019-01-10 14:31] #10 closed

[2019-01-10 14:33] nshenoy commented on #26
Closing this out. If this is still an issue, feel free to reopen.

[2019-01-10 14:33] #26 closed

[2019-01-10 14:59] nshenoy commented on #30
@joelbourbon Go for it! Looks like it might be pretty straightforward. The `pullRequests` API appears to have an `isDraft` property. Example:
[code]

So I guess the `PullRequest` model in `app.model.ts` should include that property and set it when `getPullRequestData()` is called. Then some sort of decorator could be applied when generating the view in `app.ts`. You might want to look thru their C

[2019-01-14 07:11] rubenmamo commented on #10
@nshenoy apologies for not updating this. We've since moved to Azure DevOps and hence forgot about this.

[2019-01-29 12:07] joelbourbon commented on #30
Hey guys!

I thought about this and I think a better approach would be to filter out the Draft pull requests. I would completely hide them from the list. It would completely de-clutter that UI and would keep on the "Active" pull requests as described by the plugin.

What do you think?

CC: @nshenoy

[2019-01-29 19:14] nshenoy commented on #30
@joelbourbon That's a great idea! I like that better. I'll take a look at your PR.

[2019-01-29 19:33] nshenoy commented on #30
This has been published to the marketplace. Thanks for the contribution @joelbourbon !

![](https://media.giphy.com/media/3osxYdXvsGw6wT5lIY/giphy.gif)

[2019-01-29 19:34] #30 closed

[2019-03-20 12:36] wklaase opened #35 "Feature Request: Display Build Status"
It would be nice if you can see the build status of each Active Pull Request (passed, failed, in progress, not run ..), so you can quickly see when the reason that it is not completed is a failed build.

[2019-04-08 19:41] xberr commented on #35
Build status and every other Git status as well.

[2019-05-29 14:20] sand-head commented on #35
There's a (from what I can tell) undocumented property on builds named `triggerInfo` that contains the PR number if a build is run automatically via pull request, I'm going to try using that to display the most recent build status for a PR. The only issue is that this necessitates a change to this extension's scopes.

[2019-06-05 12:27] mattdell opened #36 "Don't see extension after install"
I feel a bit thick here, but I've installed this extension but can't seem to find it anywhere clicking through Azure DevOps.

Where can I find it?

[2019-06-06 01:08] nshenoy commented on #36
After the extension is installed for your org, you should see it under the "Repos" group in the navigation pane. Example:

![image](https://user-images.githubusercontent.com/1314114/58999893-1bc29980-87d6-11e9-9da5-bec884777de9.png)

[2019-06-06 18:48] sand-head opened #37 "Feature Request: Upgrade to Azure DevOps API & SDK modules"
About the time that VSTS switched to Azure DevOps, they stopped development on `vss-web-extension-sdk` in favor of both `azure-devops-extension-sdk` and `azure-devops-extension-api`. Therefore, the SDK we're using is 8 months out of date, and we should probably upgrade sometime, just in case Microsoft rolls out some new features (or already has).

[2019-06-06 20:04] sand-head commented on #35
added this in #38!

[2019-06-07 11:05] wklaase commented on #35
a very nice feature.
thank you so much.
Wouter Klaase

Test Engineer
CGI Nederland.

Op do 6 jun. 2019 om 22:04 schreef Justin S. <notifications@github.com>:

[2019-06-10 19:47] #36 closed

[2019-06-10 19:47] #35 closed

[2019-06-10 19:50] nshenoy opened #39 "After updating extension to 1.0.10 the page shows "Loading...""
Because we had to change the manifest to include the "vso.build" scope, it caused a certificate update to happen behind the scenes. Unfortunately, users may need to uninstall the extension from their organization and then reinstall it. I apologize for the inconvenience.

[2019-06-10 20:24] ITESMEDIA commented on #39
Maybe a message indicating how to fix it would great. Thank you!

[2019-06-10 20:41] nshenoy commented on #39
That's a good idea. Perhaps I can add a cheesy message telling people to contact their admin to uninstall and reinstall if the "Loading..." doesn't disappear.

[2019-06-12 13:49] daniefer commented on #39
Would this be the source of the 500 network error I see?
[code]

[2019-06-12 13:54] sand-head commented on #39
yeah, that'd be it. for some reason, after changing scopes and updating the extension, there seems to be a miscommunication between the extension and Azure DevOps when the extension requests a session token, leading to that 500

[2019-06-12 19:07] nshenoy commented on #39
With #40 the 1.0.11 version of the extension will show a message asking people to uninstall/reinstall the extension. Thanks @ITESMEDIA for the suggestion!

[2019-06-12 20:22] evandixon commented on #39
Is it possible to wait a little longer before displaying the warning? I see this for a good 1-3 seconds before the list of PRs loads:
![image](https://user-images.githubusercontent.com/2699524/59383590-ce8a7e80-8d25-11e9-8df5-b58b6c6700a8.png)

[2019-06-12 21:06] nshenoy commented on #39
I'm hoping this is very temporary. The message will be entirely removed in a week or so. The root cause is that changing scopes on an extension causes Azure DevOps to update the extensions certificate on the backend (hence the 500 reported previously). This isn't an issue for new installs, and this is why the uninstall/reinstall "fixes" the problem. I'll be monitoring the telemetry and when I see

[2019-06-14 08:24] tiaan-stassen opened #41 "Feature request: Create new PR"
I can see this feature being useful.
Just a normal create PR button at the top with the latest branch you updated, the same as if you were to go to a normal project's pull request.
![image](https://user-images.githubusercontent.com/37173606/59494904-7a4ede00-8e8e-11e9-8b2e-6521e97c407a.png)
or even better:
![image](https://user-images.githubusercontent.com/37173606/59494945-8fc40800-8e8e-11e9-9878

[2019-06-14 21:29] sand-head commented on #23
I've been trying off and on for a good while to figure out how to utilize the endpoint Microsoft is using when they get pull request update data in their Pull Requests tab in DevOps. I've only really come up with two things:

- they seem to be POSTing to this API endpoint: `https://dev.azure.com/{OrganizationName}/_apis/visits/artifactStatsBatch?includeUpdatesSinceLastVisit=true`
- the request bod

[2019-06-15 21:28] karlingen opened #43 "Feature Request: Filter by repositories"
It would be nice if we could filter by repository.
Ideally, you'd be presented with a multi-select containing all repositories you have access to.
If the user selects one or more options from the multi-select, the results would be filtered.

A possibility to save the state of the selected values in the multi-select would also be ideal, so that you don't have to reselect those repositories each tim

[2019-06-18 05:11] tsteenbakkers commented on #39
will there be a solution for on premise TFS users? We are using TFS 2018 and with the last update of the extension the warning message appears for us. Re-installing the extension doesn't cause the warning message to disappear

[2019-06-18 06:16] rubenmamo commented on #39
I reinstalled the extension, it works fine in Chrome, however I get the same error in Internet Explorer in a specific project. In other projects on IE it works well. Anything I can do to help tracing the issue?

[2019-06-18 14:05] sand-head commented on #39
@tsteenbakkers I don't currently have a tfs server to test this extension on, but I'll try to see if I can get one set up within the next week to see if I can figure out what's going on for you all. no promises! if you could let me know what browser you're using and open your browser's console and paste back any errors it may contain (via screenshot or text, your preference) it could help narrow d

[2019-06-18 14:47] sand-head commented on #39
actually, #44 may contain the fix for your IE issue, so I would hold off on creating an issue for it until it's merged and live just in case

[2019-06-18 17:34] nshenoy commented on #39
#44 has been merged and version 1.0.13 is live now. I also confirmed that IE is fixed. (Thanks @sand-head!) @rubenmamo could you give it a shot?

[2019-06-19 07:00] rubenmamo commented on #39
@nshenoy @sand-head I can confirm that the IE issue is fixed :) Thanks for the prompt support.

[2019-06-19 07:01] tsteenbakkers commented on #39
@sand-head : i've tested it on Chrome, Firefox, IE & Edge. all give me the same message. I understand that setting up a TFS server is not a thing which is done easily or w/o effort so appreciate the effort. Since i'm not a web dev i'm entirely confident about using the chrome / firefox console. above all it contains sensitive information regarding our setup. Can i contact you by e-mail or other me

[2019-06-19 14:25] sand-head commented on #39
@rubenmamo glad to hear it's working for you! thanks for using this extension!

@tsteenbakkers those types of warnings are exactly the thing that I'm looking for! it seems like your version of tfs 2018 doesn't support the `triggerInfo` property found in builds, which is critical for figuring out build status. based off of [this map](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azur

[2019-06-19 17:01] tsteenbakkers commented on #39
That would appear to be correct. We have Some parts of the 4.1 API but in general I use 3.0 for day to day work. We are unfortunately unable to update our tfs version ourselves. Besides that we will make the transition to Azure Devops later this year (currently planning migration).

I will see if I can compile the previous version of your extension and upload it manually with tfx-cli.

So for now

[2019-06-27 21:06] ddemania opened #46 "Only 99 pull requests display"
Thank you for creating an all active pull request extension.  We have a single large mono-project with many repos, and therefore hundreds of active pull requests.  When using the extension, we only see the 99 most recent active pull requests?  Is this a purposeful limit, or am I missing something?  Maybe a possible solution would be to display a cached 'paged' list of 100, that can be moved throug

[2019-07-08 16:58] SeanLAllen opened #48 "Refused to display '[PR url]' in a frame because it set 'X-Frame-Options' to 'sameorigin'."
After the update to 1.1.0 the PR does not load on the current screen. A sad document appears and says that dev.azure.com refused to connect

[2019-07-08 17:16] dizco opened #49 "iFrame duplicates sidebar and title bar when clicking into PR"
Steps:
1. Click on "All Active Pull Request"
2. Click on any open PR
3. Notice the sidebar and the title are duplicated

See screenshot:
![image](https://user-images.githubusercontent.com/7740408/60829347-b0783880-a182-11e9-9aa4-2735a0bbe990.png)

Version: 1.1.0
Browser: Google Chrome 74.0.3729.169
OS: Windows 10

[2019-07-08 17:52] sand-head commented on #49
this is actually the same bug as #48, which was a bit of an oversight on my part. adding `target="_top"` to the links should fix this issue. if nobody else gets to it in a bit I can submit a PR for this. for now, I recommend middle-clicking. really sorry about this!

[2019-07-08 18:02] nshenoy commented on #49
I'll take a look.

[2019-07-08 18:09] nshenoy commented on #48
Hard refresh. This is fixed in v1.1.1 of the extension published just now. Sorry about that!

[2019-07-08 18:10] nshenoy commented on #49
Try now. I just published v1.1.1 with the fix.

[2019-07-08 18:13] nshenoy commented on #23
Looks like #47 would partially address this feature. It's not exactly "since I last visited" but it shows the age of a PR which should get you most of the way there.

[2019-07-08 18:16] nshenoy commented on #43
This feature is live now.

[2019-07-08 18:16] #43 closed

[2019-07-08 18:17] #37 closed

[2019-07-08 18:18] #48 closed

[2019-07-08 18:30] dizco commented on #49
Thanks for the quick reaction! Seems fixed, feel free to close this issue!

[2019-07-08 19:31] joelbourbon opened #51 "New "My Drafts" tab goes to blank page if clicked too quickly"
Hey guys!

Thanks for the latest update! It is awesome and beautiful!

One small bug: New "My Drafts" tab goes to blank page if clicked too quickly

Repro steps:
- When in the extension page
- Refresh the page
- Rapidly click on the "My Drafts" tab

Current Result: loads a blank page
Expected Result: Show same skeleton UI than in "Active Pull Requests" tab until loaded

I can take a look if you gu

[2019-07-08 20:15] sand-head commented on #51
this also seems to happen if you click on the "Active Pull Requests" tab before it's done loading too. may be an error setting a component state somewhere, based off of the React error generated: https://reactjs.org/docs/error-decoder.html/?invariant=185.

sure thing, feel free to look into this further if you want! I'm not sure I'd be able to get to this relatively soon.

[2019-07-09 08:49] admg opened #53 "After today's update (v1.1.1) it stopped working, error in js console"
Not showing pull requests, there's an error in js console in browser. TFS is on premise.

![image](https://user-images.githubusercontent.com/9196367/60874153-dd3a5780-a237-11e9-990f-0ee4a89053e2.png)

`bundle.js:53 Uncaught (in promise) TFS.WebApi.Exception: 404: Not Found
    at Object.<anonymous> (http://***:8080/tfs/_apis/public/gallery/publisher/mimeo-vs-marketplace/extension/mimeo-active-pull

[2019-07-09 20:53] johngraumann commented on #53
We are seeing the same exception. We are running Azure DevOps Server 2019.

[2019-07-10 12:36] joelbourbon opened #54 ""My Vote" column does not work"
![image](https://user-images.githubusercontent.com/1767435/60969496-a58de700-a2ed-11e9-88a6-9b7aebe42be7.png)

You can clearly see in above screenshot that I voted on all of them but it does not show in the "My Vote" column.

[2019-07-10 13:03] joelbourbon commented on #53
This is the part in code that probably breaks on premise:
![image](https://user-images.githubusercontent.com/1767435/60971057-5649b580-a2f1-11e9-9c77-f9d6a204bcb0.png)

It also would not work for teams still using the old URLs (organization.visualstudio.com).

Not sure with what it can be replaced....

[2019-07-10 13:13] joelbourbon commented on #53
Here is a great article on how URLs should be managed in extensions:
https://docs.microsoft.com/en-us/azure/devops/extend/develop/work-with-urls?view=azure-devops&tabs=nodejsgeneric

[2019-07-10 13:44] joelbourbon commented on #53
Oh sorry guys I was wrong. What I found is probably causing other issues.

The bug you found seems to be related to the `BuildRestClient`. The way it is used is fairly straightforward and I don't see how this could be fixed for On-Premise. Seems like an issue in the underlying library used here --> [azure-devops-extension-api](https://www.npmjs.com/package/azure-devops-extension-api)

[2019-07-11 15:37] kyledodge opened #56 "Feature Request: Settings Tab to Show/Hide Columns"
Add a new settings tab that will have toggle components to turn on/off each column from being displayed to save screen real estate. It looks like devops extensions can store key value pairs as user settings, so storing a flag for each column as a user preference to show/hide.

Toggle Component: https://developer.microsoft.com/en-us/azure-devops/components/toggle
Extension Data Storage: https://doc

[2019-07-11 17:48] daniefer opened #57 "Lost sorting functionality after update to v1.1.1"
I use to be able to sort each column by clicking on the header before the update to v1.1.1. This feature seems to have been broken or lost. I have been using this so I could see which open PRs need my attention or are waiting on my feedback again.

I did notice the new search bar could be a replacement for this, however it does not include  the "My Vote" column. I know #54 is currently open for fi

[2019-07-12 12:23] mkellenbenz opened #58 "Extension stopped working after update to 1.1.1"
I get the following error in the console:
![image](https://user-images.githubusercontent.com/8045559/61127531-cef67080-a4af-11e9-80a9-7caf1c382477.png)

Request response looks like this:
`{"$id":"1","innerException":null,"message":"HostAuthorizationNotFound","typeName":"Microsoft.VisualStudio.Services.DelegatedAuthorization.SessionTokenCreateException, Microsoft.VisualStudio.Services.WebApi","type

[2019-07-12 12:41] mkellenbenz commented on #58
jFYI: A reinstall fixed the issue

[2019-07-12 12:57] #49 closed

[2019-07-12 12:59] nshenoy commented on #58
Thanks @mkellenbenz . Sorry for the inconvenience. Just out of curiosity, did you happen to notice if the main page had the "Loading..." message there and the additional message that if it doesn't go away to reinstall? Just wondering.

[2019-07-12 15:05] #54 closed

[2019-07-12 15:12] joelbourbon commented on #57
The UI library was updated to use the one provided by Microsoft for Azure Devops.

The [table](https://developer.microsoft.com/en-us/azure-devops/components/table) supports sorting. It could be re-implemented.

[2019-07-12 15:18] joelbourbon commented on #51
I feel that it comes from this line: https://github.com/Mimeo/VSTSExtension-ActivePullRequests/blob/master/src/app.tsx#L68

The `state` is binded on `selectedTabId` and is also set in the `onSelectedTabChanged` callback.

I have no way to test this out easily...

[2019-07-12 18:26] nshenoy commented on #56
@kyledodge Go for it!

[2019-07-15 06:25] mkellenbenz commented on #58
Hey @nshenoy, we had this issue with the update before 1.1.1 yes. A reinstall as described worked there as well!

[2019-07-17 14:13] nshenoy commented on #46
Can we rename this to `99 PRoblems` ? j/k

Looks like the REST API returns a max of 100 PRs and we need to use `$top` and `$skip` to paginate somehow. We'll look into this.

[2019-07-17 15:00] tmacblane opened #60 "Reduce the vertical spacing between PRs in the All Active PRs page"
The vertical spacing on the all active PRs page is a bit too much.  Reducing the padding to 2px in the "bolt-table-cell-content" class tightens it up nice

[2019-07-25 06:07] kyledodge commented on #57
I've gotten this re-implemented and working, once PR #61 is completed I will be able to submit another PR to add sorting to all columns

[2019-07-25 17:29] #51 closed

[2019-07-25 17:29] #56 closed

[2019-07-25 21:57] #58 closed

[2019-07-29 20:04] joelbourbon commented on #57
@kyledodge I think we are ready for your 2nd PR 😉

[2019-07-30 02:28] kyledodge commented on #57
It's up now ready for review.

[2019-08-12 12:51] evandixon opened #63 ""Pending" comments considered resolved"
On the Active Pull Requests page, the comments for a PR shows 14/15 comments:
![image](https://user-images.githubusercontent.com/2699524/62866114-ad1e2280-bcd5-11e9-8ec4-8b8bd1ce993c.png)

But clicking on the PR itself shows 12/15 comments:
![image](https://user-images.githubusercontent.com/2699524/62866159-c3c47980-bcd5-11e9-9ee0-6640e3f293e1.png)

This appears to be a matter of "Pending" comment

[2019-08-13 07:56] persalmi commented on #53
Is anyone working on a resolution for this problem? The hard reference to dev.azure.com seems easy to fix but is it the whole truth for getting the extension to work on-premise again?

[2019-08-15 12:48] kyledodge commented on #63
Thanks for reporting this @evandixon, I can work on a fix for this tonight

[2019-08-16 14:54] #57 closed

[2019-08-16 14:54] #60 closed

[2019-08-16 15:07] sand-head commented on #63
the PR resolving this issue has been merged and the extension has been updated to version 1.1.5. thanks for letting us know @evandixon and thanks a bunch for the quick fix @kyledodge!

[2019-08-16 15:07] #63 closed

[2019-08-27 09:48] RafalRoszkowski opened #65 "Saving filters?"
Hey,

Great widget guys! I stumbled upon an inconvenience after introducing it in new organization. My organization has a lots of repositories in project (around 300).
As a team member I don't care for all of them, rather only for those my team manages ( lets say around 30).
All repositories my team manages have constant prefix. Filtering works great, yet it doesn't include repository name. (Not a

[2019-08-27 09:58] RafalRoszkowski commented on #65
Or I could filter them once, never close widget and refresh it :)
Yet if there are any pull requests open, refresh button disappears.

[2019-09-27 16:17] johngraumann opened #66 "Pull request links not valid for on-premises Azure DevOps Server"
The latest version of the extension works great on Azure DevOps Server except for one thing: the URL for pull requests go to hosted Azure DevOps instead of our local on-premises Azure DevOps server. This makes the extension frustratingly unusable. We love the other features, and this is the only thing preventing us from deploying it.

[2019-09-28 03:01] sand-head commented on #66
I'm investigating this currently, and I think I should have a fix ready for a pull request on the earlier side of this weekend. I'm not currently 100% sure if it will fix on-prem issues yet, but I've tested it using the legacy and new primary URLs in Azure DevOps Services, and it works as intended. I'll stand up a quick AZDO Server instance to check it out there.

[2019-10-25 14:09] betamaxxx opened #69 "Filter pull requests with multiple choice"
Hi!

Thanks for your work, it is a very nice plugin!
Would it be possible to add multiple choice filtering based on all columns (project is the one i'm most interested in).

Ott

[2019-10-25 17:50] nshenoy commented on #66
@johngraumann Have you had a chance to try this out? Let us know if this is still an issue.

[2019-10-25 17:52] #39 closed

[2019-10-25 18:57] johngraumann commented on #66
The last update in the marketplace for this extension was in August, so I haven't been able to test the fix yet.

[2019-11-06 13:59] BoSorensen opened #70 "Columns could use some adjustment"
After some use of the extension we have found that the width allocated for the Author is rarely sufficient. On the other hand, the width for Repository name is too much and probably the width for Reviewers is too much as well.

I would suggest a new distribution like this:
Author: Before 25% of available space -> Now 35%-ish of available space.
Repository: Before 25% of available space -> Now 15-2

[2019-11-19 09:14] alexandrudanpop opened #71 "Add option to see Draft PR's as well"
This is a feature exising in the already - Azure Devops > Active PR's screen. Would be nice to have it in this extension as well.

[2019-11-22 13:38] modestotech opened #72 "Not loading on Azure Devops server"
I've just installed the extension on a server installation and installation went fine.
I followed the instructions [here](https://marketplace.visualstudio.com/acquisition?itemName=mimeo-vs-marketplace.mimeo-active-pull-requests):
- To install "All Active Pull Requests" on Azure DevOps Server, perform following steps:
- Navigate to the Azure DevOps Server Extensions page on your server. (For exampl

[2019-11-27 07:31] modestotech commented on #72
After updating the Azure Devops server to the latest version, the extension works.

[2019-11-27 07:31] #72 closed

[2019-11-29 10:21] joachimcarrein commented on #66
Just installed the extension, but also having the same issue

[2019-12-09 08:24] modestotech commented on #66
I've seen that this is fixed in PR #67. When will it be merged into production?

[2019-12-18 16:09] sand-head commented on #66
I apologize for not merging this in sooner, I have been otherwise pre-occupied by classes this semester. I have merged #67 and I have also pushed it live in version 1.1.6.

@johngraumann @joachimcarrein @modestotech could any of you confirm or deny that this resolved your issue?

[2019-12-19 08:12] joachimcarrein commented on #66
Hi @sand-head I just checked on our devops and the links are now indeed pointing to our onprem dns name. However, the TFS part is missing in the url:
https://devops.company.com/tfs/Collection/Project

Currently the url looks as follows:
https://devops.company.com/Collection/Project

[2019-12-20 01:47] johngraumann commented on #66
I am seeing the same.

________________________________
From: Joachim Carrein <notifications@github.com>
Sent: Thursday, December 19, 2019 2:12:34 AM
To: Mimeo/VSTSExtension-ActivePullRequests <VSTSExtension-ActivePullRequests@noreply.github.com>
Cc: johngraumann <john.graumann@librestream.com>; Mention <mention@noreply.github.com>
Subject: Re: [Mimeo/VSTSExtension-ActivePullRequests] Pull request

[2020-01-07 09:00] dekkermg commented on #66
We work in DevOps, not on prem, but the links don't work for us either. The links include our organization before the project. This link does not work:
https://myOrg.visualstudio.com/MyOrg/myProject/_git/myRepo/pullRequest/34

if you remove the second occurrence of MyOrg it works:
https://myOrg.visualstudio.com/myProject/_git/myRepo/pullRequest/34

[2020-01-08 18:31] bender2k14 opened #73 "Links to PRs wrong for second project"
This extension was working great for us, but recently it stopping correctly.  I think the bug I am about to describe was introduced in version 1.6 on December 18, 2019.

## Steps to reproduce

1. Create an organization in Azure DevOps `MyOrg` called `MyOrg`.
2. Create a project called `ProjectA`.
3. Create a project called `ProjectB`.
4. Create a repository in `ProjectB` called `MyRepo`.
5. Create

[2020-01-09 16:43] JakeRoper4 commented on #46
Is there any progress on this? We've just installed this extension in replacement instead of another similar extension, which didn't show all PR's within our system.

[2020-01-10 19:46] sand-head commented on #46
I'll see about fixing both this and #66 (and also #73, which I think is related) within the next week

[2020-01-15 14:05] bender2k14 commented on #73
Oh!  I just realized something that was somewhat present in my original comment.

I think the issue stems from the [old and new URLs](https://docs.microsoft.com/en-us/azure/devops/release-notes/2018/sep-10-azure-devops-launch#administration):
- Old: `https://myorg.visualstudio.com`
- New: `https://dev.azure.com/MyOrg`

The critical moment in my test above is to click on a PR link after loading the

[2020-01-15 15:14] sand-head commented on #73
before that PR I merged last month, our default behavior was to hard-code the URL to `https://dev.azure.com` as you describe. however, as you could see in #66, that unfortunately doesn't work for on-prem users. I think your issue is about line 66 in `/src/app.tsx`, as you point out in your first comment:
[code]
your `https://myorg.visualstudio.com` URL has the organization in lowercase, but line 6

[2020-01-15 21:41] sand-head commented on #73
whoops! didn't mean to close. I'm pushing this live in version 1.1.7, which should go out any moment now. let me know if this resolves this issue for you

[2020-01-15 23:48] bender2k14 commented on #73
Oh, sorry.  That was my fault.  If you start a PR description like I did with

then completing the PR also closes the referenced issue.

[2020-01-16 05:07] bender2k14 commented on #73
Yep.  This issue is fixed for me now.

[2020-01-16 13:34] dekkermg commented on #66
Links are working again for us, fixed by #73

[2020-01-16 14:45] sand-head commented on #73
glad to hear! thank you so much for the detailed issue and again for putting the PR out

[2020-01-16 14:45] #73 closed

[2020-01-16 22:17] sand-head commented on #46
shouldn't have said "fix" and the issue ID like that in the PR. I'm releasing version 1.1.8 now; please let me know if this issue persists.

[2020-01-16 22:23] sand-head commented on #66
@dekkermg glad to hear it resolved your issue, and thanks for using our extension!

I have an idea on how to resolve the hard reliance on Microsoft URLs, though it doesn't wow me. I could continue grabbing the referrer URL like I added recently, but I could instead split the URL path at the project name and form the base URL that way. if I don't think of a better solution, I'll attempt to get that

[2020-01-17 10:18] JakeRoper4 commented on #46
@sand-head Just had the update on our organisation's Azure DevOps, and it now displaying more than 99 pull requests. Thanks for the great work.

[2020-01-17 14:40] sand-head commented on #46
glad to hear it works now! thanks for letting me know and for using our extension!

[2020-01-17 14:40] #46 closed

[2020-01-17 16:40] sand-head commented on #66
@johngraumann @joachimcarrein @modestotech pushing the fix I described above in version 1.1.9 now, please let me know if you continue to encounter this issue

[2020-01-17 19:26] kyledodge opened #77 "When 0 Pull Requests, Grid Never Finishes Loading"
Today the extension in DevOps cloud stopped working when there are 0 PRs. I’m guessing this was due to the latest update. The screen just shows the loading image but if you inspect devtools there are hundreds of api calls, each returning an empty result. If we have at least 1 PR the extension works fine.

[2020-01-17 21:38] johngraumann commented on #66
Still doesn't work for us. It is missing the **tfs**.

What we are getting:
https://server/collection/project/_git/application/pullRequest/656

What we need:
https://server/**tfs/**collection/project/_git/application/pullRequest/656

[2020-01-18 01:40] sand-head commented on #77
my bad! I'll push a fix out for this in a bit

[2020-01-20 07:15] modestotech commented on #66
Not working here either.

We get:
https://devops.inyett.se/collection/_git/application/pullRequest/141

We need:
https://devops.inyett.se/collection/project/_git/SE_Web_Flux/pullRequest/141

[2020-01-20 16:37] dizco opened #79 "Incorrect Uri for PR on Azure DevOps when organization name ends with project name"
When clicking on any "Active Pull Request" via the extension page, we get redirected to a 404 page of Azure DevOps.

## Repro steps:
1. Navigate to `https://dev.azure.com/FooBAR/BAR/_apps/hub/mimeo-vs-marketplace.mimeo-active-pull-requests.active-pull-requests-extension-hub`
2. Click on any active PR. We get redirected over to `https://dev.azure.com/FooFooBAR/BAR/_git/myrepo/pullRequest/1`

Notice

[2020-01-21 11:50] Perfect-Web commented on #79
@dizco yes, it happens to be as well

[2020-01-22 02:08] sand-head commented on #79
you're correct, I overlooked this when I made the changes I merged in in #76. I have a new PR out to fix this (and hopefully #66) and I plan on merging it soon, just wanna make sure this definitely works in every scenario I can test before pushing it out. thank you for bringing this to my awareness!

[2020-01-22 02:39] #79 closed

[2020-01-22 02:42] sand-head commented on #79
I'm pushing this live in version 1.1.10 now; feel free to reply to this issue if you're still experiencing this issue and I'll reopen it

[2020-01-22 02:43] sand-head commented on #77
pushing the fix out in version 1.1.10 as I type; let me know if you're still encountering this issue and I can reopen it. thanks!

[2020-01-22 02:43] #77 closed

[2020-01-22 02:47] sand-head commented on #66
okay, I'm pushing out an update (1.1.10) as I type, which makes some more changes to how the base URL is obtained. please let me know if you're still encountering this issue, and make sure you're on the latest version by checking the console logs. I also added a console log that displays the base URL; it'd also help if you could send me a censored version of what it thinks the base URL is if it is

[2020-01-22 04:00] johngraumann commented on #66
Everything is working on this end!

[2020-01-22 07:42] modestotech commented on #66
I can't get mine to update from 1.1.9. The last applied update was from Saturday.

According to Marketplace the most recent version is 1.1.9:
![image](https://user-images.githubusercontent.com/31730051/72874721-f34ec780-3cf2-11ea-9ad7-cd4ddf19d826.png)

I've googled around for a way to force update through the interface, but no luck. Either way, it still doesn't work.

[2020-01-22 08:44] joachimcarrein commented on #66
Everything is ok on our end now. Thanks!

[2020-01-22 14:48] dizco commented on #79
@sand-head thank you, issue is fixed for me!

[2020-01-22 15:52] kyledodge commented on #77
Looks good now - thanks for the quick fix!

[2020-01-22 16:06] sand-head commented on #66
@johngraumann @joachimcarrein very glad to hear links are finally working for you both! thanks for being patient and for your assistance getting this fixed!

@modestotech have you tried uninstalling and reinstalling the extension? that's one of the ways I've seen people "force update" the extension in the past. I wish I could help further, but at this point, it appears to be an issue regarding the

[2020-01-22 16:06] #66 closed

[2020-01-23 10:51] modestotech commented on #66
@sand-head, today the update has been applied and now the links works great.
Thanks for your extension and effort! It really makes a difference for our team.

[2020-05-11 15:28] wadechandler commented on #53
I'm seeing a definite issue with the cross domain problem mentioned above by @joelbourbon and we have a different URL we access from yet still the SaaS version (as we've been on ADO a long time). It seems the URL the user is already using in the browser should be used versus the hard coded version as mentioned above.

[2020-05-11 15:43] wadechandler opened #82 "HostAuthorizationNotFound when loading page and specifically when it tries to access {organization}.visualstudio.com/_apis/WebPlatformAuth/SessionToken"
I'm seeing the following response in the Chrome developer tools network; the server code is 500; this is returned as the body.

`{"$id":"1","innerException":null,"message":"HostAuthorizationNotFound","typeName":"Microsoft.VisualStudio.Services.DelegatedAuthorization.SessionTokenCreateException, Microsoft.VisualStudio.Services.WebApi","typeKey":"SessionTokenCreateException","errorCode":0,"eventId":

[2020-07-11 16:50] salbahra opened #83 "Icon appears low resolution on retina displays"
The menu icon shown is low resolution on retina displays. I see right now it's a 16x16 image and the UI seems to use a 16px font size for the other icons (custom font). For retina, the image needs to be at least 32x32 if shown at 16x16. I can submit a PR but am not sure if the image can be enlarged.

Edit: Image attached

<img width="263" alt="Screen Shot 2020-07-11 at 9 50 57 AM" src="https://use

[2020-08-21 12:55] langdonx opened #86 "Feature request: Add Tags to Column Display options"
As our team grows, our PR list grows, and it's somewhat difficult to let reviewers know the status of a current PR.

Tags is a great solution for that, but without tags being on the All Repositories screen, you have to end up looking at each one to find the status.

e.g.:

![image](https://user-images.githubusercontent.com/441982/90892630-9a7c0600-e38b-11ea-99c2-e8cf4bc23c86.png)

![image](https:/

[2020-08-21 13:13] langdonx commented on #86
It looks like it'll have to be another request -- it's `/labels` (like `/threads` for PR comments):

https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20request%20labels/get?view=azure-devops-rest-6.0

For my particular example above, it comes back like this:

[code]

When I add and remove a label, it doesn't get returned, so not totally sure what `active` means.

[2020-09-10 15:17] stuartjsmith commented on #69
We would very much also like to be able to have some sort of filtering - when looking at a long list of pull requests it is very hard to find the ones that you might like to take a look at. If there was a filter option on each column then this would be great!

[2020-09-30 19:09] johngraumann commented on #66
Was there a regression here lately? Seems broken again in the latest version. It is missing the /tfs before the organization name.

[2020-11-17 08:48] benjcolombo commented on #66
Hello, I agree with @johngraumann as it does not work properly anymore in Azure DevOps Server.
Strangely enough, it seems to work for some users but the "/tfs" is missing before organisation name for others.

I use the last available version of the extension (v1.1.10) and users that reported the issue tested it with chrome. They are connected to the same network as the server using eVPN but I do n

[2022-02-04 20:43] Abe-Froman opened #97 "Profile pictures may not load"
I've had this problem for a while where, when I'm at work, _most_ of the time profile pictures don't load though they always did from home.

Last night I rebuilt my home PC with new hardware and now profile pictures aren't showing up here.

![image](https://user-images.githubusercontent.com/18315896/152598446-f1d30e15-f89c-4a6a-aa69-daf9c9eeac5c.png)

There are two failed network calls, both 404s,

[2022-02-04 21:48] kyledodge commented on #97
The only time I’ve ever experienced this is when the authentication to devops expires. I usually just open the image in a new tab, and the authentication kicks in and everything starts working again. For some reason devops uses a different domain for the images which causes a separate authentication to happen

[2022-02-05 01:06] Abe-Froman commented on #97
Thanks @kyledodge. The profile pictures are loading again but I didn't do anything to make it work. Next time it happens I'll try your workaround.

I wonder if anything could be done in the extension to resolve this. Maybe I'll go dig if/when I ever get a bit of time.

[2022-09-29 17:56] jlipford commented on #86
Please do add tags! Great Extension regardless...

[2022-11-24 05:07] singh-utkarsh opened #103 "Security Issue on codeql scan"
Hello,
In order to use this extension, I need to make sure that it doesn't contain any security alerts or vulnerabilities. To verify it I have performed a codeql scan over this repository and found out a high severity issue **Incomplete URL substring sanitization**.  I am attaching the screenshot of alert below. It would be helpful if this can be fixed.
<img width="751" alt="active_pull_requestdas